

.main-container{
  display:flex;
  min-height:100vh;
  padding:20px;
  justify-content: center;
  background-image: linear-gradient(to left,#A9F1DF , #FFBBBB);
  
}

.Todos-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:20px;
  width:80%;
  background-color: #ffffff;
  padding:20px;
  border-radius:20px;

}


.TodosList-container{
  display:flex;
  flex-direction: column;
  width:100%;
  align-items: center;
}

.main-heading{
  text-align: center;
  color: #f12711;
  font-family: 'Helvetica Neue', sans-serif,Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.userInput-container{
  display:flex;
  justify-content: center;

}

.No-Data-found-container{

  display:flex;
  justify-content: center;

}

.Input-box{
  padding:10px;
  width:45%;
  outline: none;
  border-radius:10px;
  border: 1px solid black;
  margin-right:10px;
}

.add-btn{

  outline: none;
  border: none;
  background-color: dodgerblue;
  border-radius: 10px;
  padding:2px 16px 2px 16px;
  font-size: 16px;
  font-weight: bold;
  color:#ffffff;

  
}

.add-btn:hover{
  background-color: orangered;
}

.update-btn{
  outline:none;
  border:none;
  background-color: black;
  border-radius: 10px;
  padding:2px 16px 2px 16px;
  margin-left:10px;
  color:#ffffff;
  font-weight: bold;
  font-size:16px;

}

.update-btn:hover{

  background-color:#061161;
}

.audio-loader{

  display:flex;
  justify-content: center;
  padding:20px;
  background-color: black;
  min-height: 100vh;
  align-items: center;
}